:root {
    --dark: #132c33;
    --light: #d8e3e7;
    --lightblue: #51c4d3;
    --darkgreen: #126e82;
    --coffee: #644117;
    --lightcoffee: #f0e9d8;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Roboto Mono", monospace;
    background-color: lightgrey;
  }
  
  header {
    margin: 1.5rem;
    align-content: center;
  }
  
  main {
    display: flex;
    justify-content: center;
  }
  
  .machine {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    width: 35rem;
    height: 60rem;
    padding: 2.5rem;
    border: 4px solid;
    border-radius: 12px;
  }
  
  .machine_title {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 1rem;
  }
  
  .btn {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
    background-color: var(--lightblue);
    box-shadow: 0 2px #999;
  }
  
  .btn:focus {
    border: 1px solid;
  }
  
  .btn:active {
    transform: translateY(2px);
  }
  
  .cancel_btn {
    background-color: red;
  }
  
  .cancel_btn--disabled {
    background-color: grey;
  }
  .cappicino_btn{
    background-color: blueviolet;
  }
  
  .continue_btn {
    background-color: green;
    font-size: 1.2rem;
    box-shadow: 0 1px #999;
    margin: 1rem ;
  }
  
  .sugar_btn {
    margin: 0 1rem;
  }
  
  .levels {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sugar_pt {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    background-color: white;
    border-radius: 50%;
  }
  
  .sugar_pt--off {
    background-color: var(--darkgreen);
    border: 1px solid white;
  }
  
  .sugar_lvl--on {
    font-size: 2rem;
    color: white;
  }
  
  .sugar_lvl--off {
    font-size: 2rem;
  }
  
  .panel {
    display: block;
    border: 2px solid var(--dark);
    background-color: var(--darkgreen);
    text-align: center;
    padding: 1rem;
    height: 120px;
  }
  
  .panel--order {
    display: block;
    border: 2px solid var(--dark);
    text-align: center;
    padding: 1rem;
    height: 95px;
  }
  
  .order {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark);
    border: none;
    color: white;
  }
  
  .order_text p {
    font-size: 1.4rem;
    text-align: left;
  }
  
  .panel_text {
    font-size: 1.6rem;
    color: white;
  }
  
  .magic_zone {
    height: 15rem;
    width: 18rem;
    background-color: var(--light);
    text-align: center;
    color: white;
    margin-top: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
  
  .source {
    background-color: black;
    height: 1.5rem;
    width: 4rem;
    border-radius: 0px 0px 10px 10px;
  }
  
  .source_tip {
    background-color: black;
    height: 1rem;
    width: 2.5rem;
  }
  
  .coffee {
    background-color: var(--coffee);
    height: 3.5rem;
    width: 1rem;
    animation: startCoffee 2s ease-out forwards;
  }
  
  .cup {
    box-shadow:  rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    height: 8rem;
    width: 6rem;
    background: var(--light);
    margin-top: auto;
    animation: moveToRight 2s ease-out forwards;
    border-radius: 5px 5px 20px 20px;
  }
  
  .cup::after {
    content: "";
    border-right: 10px solid rgba(60, 64, 67, 0.3);
    border-radius: 50%;
    position: absolute;
    width: 25px;
    height: 35px;
    transform: translateX(11px) translateY(10px);
  }
  
  
  .cup_fill--Small {
    animation: fillSmall 4s ease-out forwards;
  }
  
  .cup_fill--Large {
    animation: fillLarge 4s ease-out forwards;
  }
  
  @keyframes moveToRight {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  @keyframes startCoffee {
    0% {
      background: linear-gradient( to bottom, var(--coffee) 1%, var(--light) 99%);
    }
    80% {
      background: linear-gradient( to bottom, var(--coffee) 99%, var(--light) 1%);
    }
    100% {
      background: linear-gradient( to bottom, var(--coffee) 1%, var(--light) 99%);
    }  
  }
  
  @keyframes fillSmall {
    0% {
      background: var(--light);
    }
    25% {
      background: linear-gradient( to top, var(--coffee) 12%, var(--light) 12% 88%);
    }
    50% {
      background: linear-gradient( to top, var(--coffee) 25%, var(--light) 25% 75%);
    }
    75% {
      background: linear-gradient( to top, var(--coffee) 37%, var(--light) 37% 63%);
    }
    100% {
      background: linear-gradient( to top, var(--coffee) 50%, var(--light) 50%);
    }
  }
  
  @keyframes fillLarge {
    0% {background: var(--light);
    }
    25% {
      background: linear-gradient( to top, var(--coffee) 18%, var(--light) 18% 82%);
    }
    50% {
      background: linear-gradient( to top, var(--coffee) 37%, var(--light) 37% 63%);
    }
    75% {
      background: linear-gradient( to top, var(--coffee) 55%, var(--light) 55% 45%);
    }
    100% {
      background: linear-gradient( to top, var(--coffee) 75%, var(--light) 25%);
    }
  }
  .hidden {
    display: none;
  }
  
